@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Background Geral */
body {
  background-color: #d9d9d9;
  font-family: 'Roboto', sans-serif;
} 

/* Pills Color */
.nav-pills .nav-link.active {
  background-color: yellow;
  color: #232423;
}

.nav-pills .nav-link{
  color: white;
}

/* Textos gerais */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

/* Card Hover Animations */
@keyframes border_in {
  from {
    border: 3px solid transparent;
  }
  to {
    border: 3px solid yellow;
  }
}

@keyframes border_out {
  from {
    border: 3px solid yellow;
  }
  to {
    border: 3px solid transparent;
  }
}

.card_padrao {
  animation: border_out 1s;
  animation-fill-mode: forwards;
}

.card_padrao:hover {
  animation: border_in 0.5s;
  animation-fill-mode: forwards;
}
