/* Custom App CSS Below --------------------------------- */
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/

.card{
  margin-top: 10px;
  box-shadow: 2px 2px 10px 0px rgba(10, 9, 7, 0.05);
}
